<!doctype html>
<title>Python Flask File Upload Example</title>
<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">
      <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/custom.css"> -->
      <link rel="shortcut icon" href="{{ url_for('static',filename='resources/favicon.ico') }}"/>
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    </head>xf
<body>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> <li> <a href="file:///Users/larynqi/Desktop/CS/CalHacks/autonotes/application/templates/second.html" id="second">How It Works</a></li>How It Works</a></li>
        <li><a href="#">About Us</a></li>
        <li class="dropdown">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret">More</span></a> -->
        </li>
     </ul>
<div class ="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="auto">AutoNotes</h1>
        </div>
        <div class="col-md-4">
                <img id="logo" src= "{{ url_for('static',filename='css/mic.png') }}" alt="chungus">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
        </div>
    </div>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        Click the link to download
        <a href="http://127.0.0.1:5000/download" download="test" >Download!</a>
        <!-- <a href="file:///Users\larynqi\desktop\cs\calhacks\autonotes\application\templates\test.txt" download="test" >Download!</a> -->
    </div>
</div>
</body>